# ===== Backend =====
MONGO_URI=mongodb://localhost:27017/poc_wallet?serverSelectionTimeoutMS=2000&connectTimeoutMS=2000
JWT_SECRET=CHANGE_ME_DEV_ONLY
JWT_EXPIRES_MIN=20
MFA_TEMP_EXPIRES_MIN=5

# ===== Frontend =====
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
